{% load verbose_name_tags %}
<div class="container-fluid titulo">
    <div class="row">
        <div class="col-md-6">
            <h3>{{ object_list|queryset_verbose_name_plural|capfirst }}</h3>
        </div>          
        <div class="col-md-3">
            <form action="." type="GET">
            <div class="input-group"  id="buscadorTabla">
                <input type="text" class="form-control" placeholder="Filtrar" name='q' autofocus>
                <span class="input-group-btn">
                    <button  type="submit" class="btn btn-default" ><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            </form>
        </div>          
        <div class="col-md-3">
            <div class="align-right">
            {% if object_list %}
            <!--FORM DE CHECKS (Acaba en las ListViews )-->    
            <form action="." method="POST">{% csrf_token %}
            {% if not notbuttonlist %}
                <div class="btn-group">
                    <button type="submit" name="accion" onclick="this.form.target='_blank'; return true;" value="A pdf" class="btn btn-info btn-sm">A pdf</button>
                    <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <button class="btn-input" type="submit" name="accion" onclick="this.form.target='_blank'; return true;" value="A pdf">
                                <!-- <a class="a-input" href="#"> -->A pdf<!-- </a> -->
                            </button>
                        </li>
                        <li>
                            <button class="btn-input" type="submit" name="accion" value="A csv">
                                <!--<a class="a-input" href="#">-->A csv<!--</a>-->
                            </button>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <button class="btn-input" type="submit" name="accion" value="Eliminar">
                                <!--<a class="a-input" href="#">--><span class="glyphicon glyphicon-warning-sign"></span> Eliminar
                            </button>
                        </li>
                    </ul>
                </div>                
            {% endif %}

            {% endif %}
            <a href="add{{ object_list|queryset_verbose_name|capfirst }}" class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Agregar {{ object_list|queryset_verbose_name|capfirst }}</a>
            </div>
        </div>          
    </div>
</div>
