{% extends "base/divided.html" %}
{% load static from staticfiles %}
{% block headExtra %}
	<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
	{{form.media}}
    <style>
    	.col-sm-3{width: 20%;}
    	.col-sm-9{width: 80%;}
        #id_curso_alumno, #id_concepto{
            width: 10%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-image: none;
            border: 1px solid #79EFFF;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
               -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        label{font-weight: bolder !important; color: #191919; }
        .requerido strong{display: none;}
        .id_curso_alumno, .id_concepto{background: #E5E5E5; padding: 8px; border-radius: 5px;}
    </style>
{% endblock headExtra %}
{% load verbose_name_tags %}
{% block title %}Registrar {{ form|form_model_name|capfirst }}{% endblock title %}

{% block content %}
    <div class="titulo container-fluid"><h3>Registrar {{ form|form_model_name|capfirst }}</h3></div>
    <div class="formulario">    
    	<form class="form-horizontal" role="form" action="/finanzas/planes/addPlanPago/" method="POST" enctype="multipart/form-data">{% csrf_token %}
			{% for field in form %}
			<div class="form-group">
                <div class="col-sm-3 control-label">
                    {{ field.label_tag }}
                    <div class="help-text"><small>{{field.help_text}}</small></div>     
                </div>
                <div class="col-sm-9">
                    {% if field.field.required %}
                        <div class="requerido">{{field}} <span class="{{ field.auto_id }}"></span></div>
                    {% else %}
                        <div class="norequerido">{{field}}</div>
                    {% endif %}
                {% if field.errors %}
                    <div class="alert alert-danger" id="camporequerido" role="alert"><span class="glyphicon glyphicon-remove-sign align-left" id="errorlogin"></span> {{field.errors}}</div> 
                {% endif %}
                </div>
			</div>

			{% endfor %}
			<div class="form-group">
			    <div class="col-sm-offset-7 col-sm-5">
			        <button type="submit" class="btn btn-primary align-right"><span class="glyphicon glyphicon-ok-circle"></span> Registrar</button>
			        <a href="../" type="submit" class="btn btn-default align-right"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</a>
			    </div>
			</div> 
    	</form>
	</div>

{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                get_curso_alumno($('#id_curso_alumno').val()) 
                get_concepto($('#id_concepto').val())

                $('#lookup_id_curso_alumno').click(function(e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                    $('#id_curso_alumno').focus()
                });

                $('#lookup_id_concepto').click(function(e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                    $('#id_concepto').focus()
                });

                $('#id_curso_alumno').on("focus blur", function() {
                    get_curso_alumno($(this).val())                
                    get_materias($(this).val())
                }); 
                $('#id_concepto').on("focus blur", function() {
                    get_concepto($(this).val())
                });
                function get_curso_alumno(id){
                    $.ajax({
                        data : {'id_curso_alumno' : id  },
                        url : '/finanzas/get_curso_alumno_ajax/',
                        type: 'get',
                        success : function(data){
                            console.log(data)
                            $('.id_curso_alumno').html(data);
                        }                                
                    });
                }
                function get_materias(id){
                    $.ajax({
                        data : {'id_curso_alumno' : id  },
                        url : '/finanzas/get_materias_ajax/',
                        type: 'get',
                        success : function(data){
                            var html = '<select><option value="">-------</option>';
                            for (var i=0 ; i < data.length ; i++){
                                html = html + '<option value="'+ data[i].pk +'">'+ data[i].fields.nombre +'</option>'  
                            }
                            html = html + '</select>'
                            $('#id_materia').html(html);
                        }                                
                    });
                }                
                function get_concepto(id){
                    $.ajax({
                        data : {'id_arancel' : id  },
                        url : '/finanzas/get_concepto_ajax/',
                        type: 'get',
                        success : function(data){
                            console.log(data)
                            $('.id_concepto').html(data);
                        }                                
                    });
                }

            });
        })(django.jQuery);
    </script>
{% endblock scripts %}