{% extends "base/divided.html" %}
{% load verbose_name_tags %}
{% block title %}Detalle {{ object|get_verbose_name|capfirst }}{% endblock title %}

{% block content %}

<div class="titulo container-fluid"><h3>{{ object|get_verbose_name|capfirst }} {{object.name}}</h3></div>
<div class="detalles">
	<div><div class="det_titulo">Carrera: </div><div class="det_contenido">{{object.carrera}}</div></div>
	<div><div class="det_titulo">Turno/Seccion: </div><div class="det_contenido">{{object.turno}}</div></div>
	<div><div class="det_titulo">Estado: </div><div class="det_contenido">{{object.estado}}</div></div>
	<div><div class="det_titulo">Fecha Inicio: </div><div class="det_contenido">{{object.inicio}}</div></div>
	<div><div class="det_titulo">Dias de Clase: </div><div class="det_contenido">{% for item in  object.dias.all %} {{item}} {% endfor %}</div></div>
</div>

<div class="extracto">
	<div class="grouper"><h6>{{matriculas.0.concepto.concepto.tipo_concepto.tipo_concepto}}</h6></div>
	{% regroup matriculas by curso_alumno.alumno as alumnos %}
	<table width="auto" class="table table-hover table-small">
	<thead>
	<tr>
		<th>Cedula</th>
		<th>Alumno</th>
		<th>Fecha/Recibo</th>
	</tr>
	</thead>
	<tbody>
	{% for alumno in alumnos %}
		<tr>
			<td class="grouper_cedula">{{alumno.grouper.alumno.cedula}}</td>
			<td class="grouper_nombre">{{alumno.grouper.alumno}}</td>
			<td class="grouper_pago">
			{% for secuencia in alumno.list %}
				<div class="cuota-secuencia">
				{% if secuencia.estado = 'PAG' %}
					<div class="verde">{{secuencia.get_recibo.fecha|date:"d-m-y"}} <a href="{% url 'finanzas:det_recibo' secuencia.get_recibo.id %}"><strong>{{secuencia.get_recibo.get_recibo}}</strong></a></div>
				{% else %}
					<div {% if secuencia.get_vencido %}class="rojo"{% endif %}>{{secuencia.estado}}</div> 
				{% endif %}
				</div>
			{% endfor %}
			</td>
		</tr>
	{% endfor %}		
	</tbody>
	</table>


	<div class="grouper"><h6>{{cuotas.0.concepto.concepto.tipo_concepto.tipo_concepto}}</h6></div>
	{% regroup cuotas by curso_alumno.alumno as alumnos %}
	<table width="auto" class="table table-hover table-small">
	<thead>
	<tr>
		<th>Cedula</th>
		<th>Alumno</th>
		<th>Fecha/Recibo</th>
	</tr>
	</thead>
	<tbody>
	{% for alumno in alumnos %}
		<tr>
			<td class="grouper_cedula">{{alumno.grouper.alumno.cedula}}</td>
			<td class="grouper_nombre">{{alumno.grouper.alumno}}</td>
			<td class="grouper_pago">
			{% for secuencia in alumno.list %}
				<div class="cuota-secuencia">
				{% if secuencia.estado = 'PAG' %}
					<div class="verde">{{secuencia.get_recibo.fecha|date:"d-m-y"}} <a href="{% url 'finanzas:det_recibo' secuencia.get_recibo.id %}"><strong>{{secuencia.get_recibo.get_recibo}}</strong></a></div>
				{% else %}
					<div {% if secuencia.get_vencido %}class="rojo"{% else %}class="gris"{% endif %}>{{secuencia.estado}} <small>{{secuencia.vencimiento|date:"M"}}</small></div> 
				{% endif %}
				</div>
			{% endfor %}
			</td>
		</tr>
	{% endfor %}		
	</tbody>
	</table>


	<div class="grouper"><h6>{{evaluacion.0.concepto.concepto.tipo_concepto.tipo_concepto}}</h6></div>
	{% regroup evaluacion by curso_alumno.alumno as alumnos %}
	<table width="auto" class="table table-hover table-small">
	<thead>
	<tr>
		<th>Cedula</th>
		<th>Alumno</th>
		<th>Fecha/Recibo</th>
	</tr>
	</thead>
	<tbody>
	{% for alumno in alumnos %}
		<tr>
			<td class="grouper_cedula">{{alumno.grouper.alumno.cedula}}</td>
			<td class="grouper_nombre">{{alumno.grouper.alumno}}</td>
			<td class="grouper_pago">
			{% for secuencia in alumno.list %}
				<div class="cuota-secuencia">
				{% if secuencia.estado = 'PAG' %}
					<div class="verde"><small>{{secuencia.materia}}</small> <a href="{% url 'finanzas:det_recibo' secuencia.get_recibo.id %}"><strong>{{secuencia.get_recibo.get_recibo}}</strong></a></div>
				{% else %}
					<div {% if secuencia.get_vencido %}class="rojo"{% else %}class="gris"{% endif %}> <small>{{secuencia.materia}}</small> {{secuencia.estado}}</div> 
				{% endif %}
				</div>
			{% endfor %}
			</td>
		</tr>
	{% endfor %}		
	</tbody>
	</table>


{% endblock content %}
