{% extends "base/divided.html" %}
{% load static from staticfiles %}

{% load verbose_name_tags %}
{% block title %}Actualizar {{ form|form_model_name|capfirst }}{% endblock title %}

{% block content %}

    <div class="titulo container-fluid"><h3>Actualizar {{ form|form_model_name|capfirst }}</h3></div>
    <div class="formulario">    
    	<form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="curso_alumno" value="{{form.curso_alumno.value}}" />
            <input type="hidden" name="cantidad" value="{{form.cantidad.value}}" />
            <input type="hidden" name="concepto" value="{{form.concepto.value}}" />
    		{% for field in form %}
			<div class="form-group">
                <div class="col-sm-3 control-label">
                    {{ field.label_tag }}
                    <div class="help-text"><small>{{field.help_text}}</small></div>     
                </div>
                <div class="col-sm-9">
                    {% if field.field.required %}
                        <div class="requerido">{{field}} <span class="{{ field.auto_id }}"></span></div>
                    {% else %}
                        <div class="norequerido">{{field}}</div>
                    {% endif %}
                {% if field.errors %}
                    <div class="alert alert-danger" id="camporequerido" role="alert"><span class="glyphicon glyphicon-remove-sign align-left" id="errorlogin"></span> {{field.errors}}</div> 
                {% endif %}
                </div>
			</div>

			{% endfor %}
			<div class="form-group">
			    <div class="col-sm-offset-7 col-sm-5">
			        <button type="submit" class="btn btn-primary align-right"><span class="glyphicon glyphicon-ok-circle"></span> Registrar</button>
			        <a href="../" type="submit" class="btn btn-default align-right"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</a>
			    </div>
			</div> 
    	</form>
	</div>

{% endblock content %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var id_curso_alumno = $('#id_curso_alumno option:selected').val();
            get_materias(id_curso_alumno)
            function get_materias(id){
                $.ajax({
                    data : {'id_curso_alumno' : id  },
                    url : '/finanzas/get_materias_ajax/',
                    type: 'get',
                    success : function(data){
                        var html = '<select><option value="">-------</option>';
                        for (var i=0 ; i < data.length ; i++){
                            html = html + '<option value="'+ data[i].pk +'">'+ data[i].fields.nombre +'</option>'  
                        }
                        html = html + '</select>'
                        $('#id_materia').html(html);
                    }                                
                });
            }                

        });
    </script>
{% endblock scripts %}