{% extends "base/divided.html" %}
{% load static from staticfiles %}
{% block headExtra %}
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    {{form.media}}
    <style>
        .selector{width: 100%;}
        #id_recibos_from{height: 500px}
    </style>
{% endblock headExtra %}
{% load verbose_name_tags %}
{% load finanzas_tags %}
{% load humanize %}

{% block title %}Registrar {{ form|form_model_name|capfirst }}{% endblock title %}

{% block content %}
    <div class="titulo container-fluid"><h3>Registrar {{ form|form_model_name|capfirst }}</h3></div>
    <div class="formulario">    
        <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}



            <div class="form-group">
                <label for="{{ form.nro_rendicion.auto_id }}" class="col-sm-3 control-label">{{ form.nro_rendicion.label_tag }}</label>
                <div class="col-sm-9">              
                    <div class="requerido">{{form.nro_rendicion}}</div>
                {% if form.nro_rendicion.errors %}
                    <div class="alert alert-danger" id="camporequerido" role="alert"><span class="glyphicon glyphicon-remove-sign align-left" id="errorlogin"></span> {{form.nro_rendicion.errors}}</div> 
                {% endif %}
                </div>
            </div>


            <div class="form-group">
                <label style="width:100%; text-align:left; margin-bottom:10px" for="{{ form.recibos.auto_id }}" class="col-sm-3 control-label">{{ form.recibos.label_tag }}</label>
                {% if form.recibos.errors %}
                    <div class="alert alert-danger" id="camporequerido" role="alert"><span class="glyphicon glyphicon-remove-sign align-left" id="errorlogin"></span> {{form.recibos.errors}}</div> 
                {% endif %}
                <div class="col-sm-12">              
                    <div class="requerido">{{form.recibos}}</div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-7 col-sm-5">
                    <button type="submit" class="btn btn-primary align-right"><span class="glyphicon glyphicon-ok-circle"></span> Registrar</button>
                    <a href="../" type="submit" class="btn btn-default align-right"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</a>
                </div>
            </div>  
        </form>
    </div>
{% endblock content %}
