{% extends "base/divided.html" %}
{% load humanize %}
{% load verbose_name_tags %}
{% block title %}Detalle {{ object|get_verbose_name|capfirst }}{% endblock title %}

{% block content %}

    <div class="titulo container-fluid"><h3>{{ object|get_verbose_name|capfirst }} {{object.name}}</h3>
        <div class="align-right">

            <a href="../upd{{ object|get_verbose_name|capfirst }}/{{object.id}}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-pencil"></span> Editar este {{ object|get_verbose_name|capfirst }}</a>

            <a href="../del{{ object|get_verbose_name|capfirst }}/{{object.id}}" class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-remove-circle"></span> Eliminar este {{ object|get_verbose_name|capfirst }}</a>
            <a href="../add{{ object|get_verbose_name|capfirst }}" class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Agregar otro {{ object|get_verbose_name|capfirst }}</a>
        </div>
    </div>


<div class="linea100"><div class="linea20">Resolución: </div><div class="linea80">{{object.resolucion}}</div></div>
<div class="linea100"><div class="linea20">Inicio: </div><div class="linea80">{{object.inicio}}</div></div>
<div class="linea100"><div class="linea20">Fin: </div><div class="linea80">{{object.fin}}</div></div>
<div class="linea100"><div class="linea20">Estado: </div><div class="linea80">{{object.estado}}</div></div>
    
<div class="aranceles">
	<div class="det_titulo">Aranceles</div>
	{% regroup aranceles by concepto.tipo_concepto.tipo_carrera as tipo_carrera %}
	{% for arancel in tipo_carrera %}
		<div class="grouper"><h6>{{arancel.grouper}}</h6></div>
		{% regroup arancel.list by concepto.tipo_concepto.tipo_concepto as tipo_conceptos %}
		{% for tipo in tipo_conceptos %}
			<div class="grouper"><h6>{{tipo.grouper}}</h6></div>
				<table  width="auto" class="table table-hover table-small">
				{% for ara in tipo.list  %}
					<tr>
					<td>{{ara.concepto.concepto}}</td>
					<td width="100" >{{ara.concepto.fraccionable|yesno}}</td>
					<td width="100" >{{ara.concepto.fraccionable_hasta|intcomma}}</td>
					<td width="100" align="right">{{ara.monto|intcomma}}</td>
					</tr>
				{% endfor %}
			</table>
		{% endfor %}
	{% endfor %}
</div>


{% endblock content %}
