{% extends "base/divided.html" %}
{% load verbose_name_tags %}
{% block title %}Perfil Usuario{% endblock title %}

{% block content %}

    <div class="titulo container-fluid"><h3>Perfil Usuario</h3>
        <div class="align-right">
            <a href="../upd{{ object|get_verbose_name|capfirst }}/{{object.id}}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-pencil"></span> Editar este {{ object|get_verbose_name|capfirst }}</a>

            <a href="../del{{ object|get_verbose_name|capfirst }}/{{object.id}}" class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-remove-circle"></span> Eliminar este {{ object|get_verbose_name|capfirst }}</a>
            <a href="../add{{ object|get_verbose_name|capfirst }}" class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Agregar otro {{ object|get_verbose_name|capfirst }}</a>
        </div>
    </div>

<table class="table">
	<tr>
		<td width="140px">
			<div class="avatar">
			    {% if object.perfil.avatar.url_125x125 %}
				    <img src="{{object.perfil.avatar.url_125x125}}"/>
			    {% else %}
			        <img src="{{MEDIA_URL}}/avatar_user/generic-user.125x125.png"/>
			    {% endif %}
			</div>
		</td>
		<td>
			<div class="detalles" style="margin-top:5px">
				<div><div class="det_titulo">Username: </div><div class="det_contenido">{{object.username}}</div></div>
				<div><div class="det_titulo">Nombre: </div><div class="det_contenido">{{object.first_name}} {{object.last_name}}</div></div>
				<div><div class="det_titulo">Mail: </div><div class="det_contenido">{{object.email}}</div></div>
				<div><div class="det_titulo">Estado: </div><div class="det_contenido">{{object.is_active}}</div></div>
			</div>			
		</td>
	</tr>
</table>

<div class="detalles">
	<div class="det_titulo">Permisos de Usuario</div>
	<div>
		<table class="table table-hover">
		{% for permiso in user_permissions %}
			<tr><td>{{permiso}}</td></tr>		
		{% endfor %}
		</table>
	</div>	

	<div class="det_titulo">Permisos de Grupo</div>
	<div>
		<table class="table table-hover">
		{% for permiso in user_group_permissions %}
			<tr><td>{{permiso}}</td></tr>		
		{% endfor %}
		</table>
	</div>

</div>




{% endblock content %}